body{
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.titulo {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

div.pokebola{
    margin-right: 40px;
}

.pokebola img{
    max-width: 90px; 
    height: auto;
}

h1{
    font-size: 100px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 a{
    text-decoration: none;
    color: #333;
}
div.header{
    background-color: #E0E0E0;
    font-size: 25px;
    word-spacing: 300px;
    text-align: center;
}

.header a{
    text-decoration: none;
    color: #333;
}

.header a:hover{
    color: whitesmoke;
}

div.video{
    display: flex;
    justify-content: center; 
    margin-top: 60px;
}

h2{
    text-align: center;
    font-size: 60px;
    margin-bottom: 10px;
}

h3{
    text-align: center;
}
.form-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
    border-color: #0056b3; 
    outline: none;
}

input[type="submit"],
input[type="reset"] {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #004494; 
}

input[type="radio"] {
    margin-left: 10px;
}

textarea {
    resize: none; 
}
